.git
.gitignore

**/__pycache__/
**/*.py[cod]
**/*.log

.env
.env.*
!/.env.example

secrets/
certificates/
certbot/

*.md
build_log.txt
container_status.txt
test_results.txt

docker-compose.yml
compose.yaml

tests/
scripts/
