# {{ ansible_managed }}
COMPOSE_PROJECT_NAME={{ compose_project_name }}
HTTP_PORT={{ http_port }}
HTTPS_PORT={{ https_port }}
MARIADB_IMAGE={{ mariadb_image }}
MARIADB_DATABASE={{ mariadb_database }}
NGINX_IMAGE={{ nginx_image }}
SEO_MAX_PAGES={{ seo_max_pages }}
SEO_REQUEST_TIMEOUT_SECONDS={{ seo_request_timeout_seconds }}
SEO_MAX_RESPONSE_BYTES={{ seo_max_response_bytes }}
SEO_CRAWL_DELAY_SECONDS={{ seo_crawl_delay_seconds }}
SEO_MAX_REDIRECTS={{ seo_max_redirects }}
